<app-header></app-header>
<ion-content>
  @if (isLoading) {
    <ion-spinner name="bubbles"></ion-spinner>
  }
  <h1 style="text-align: center">Log In</h1>
  <p style="text-align: center">Ingrese sus credenciales para acceder a la aplicación.</p>

  <ion-item>
    <ion-input [(ngModel)]="usuario" label="Usuario:" labelPlacement="floating"  type="text" placeholder="Ingrese su usuario"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="clave" label="Contraseña:" labelPlacement="floating" type="password" placeholder="Ingrese su contraseña"></ion-input>
  </ion-item>

  <ion-button (click)="login(usuario, clave)" expand="block" fill="clear" shape="round">Iniciar Sesión</ion-button>

  <ion-text id="loginF" color="danger" *ngIf="loginFailed"><p>Usuario o clave incorrectos.</p></ion-text>

  <ion-item lines="none">
    <ion-text color="medium">
      <a routerLink="/registrar">¿No tienes cuenta? Regístrate aquí</a>
    </ion-text>
  </ion-item>


</ion-content>
<app-footer></app-footer>
