<app-cabecera id="header"></app-cabecera>
<ion-content>
  <ion-toolbar color="transparent" translucent>
    <h1 style="text-align: center;">Asignaturas</h1>
  </ion-toolbar>

  <ion-list [inset]="true">
    <ion-item *ngFor="let asignatura of asignaturas" [button]="true" color="light">
      <div class="asignatura-container" (click)="irMostrarQR(asignatura.id)">
        <div class="asignatura-nombre">
          {{ asignatura.nombre }} - {{ asignatura.id }}
        </div>
      </div>
    </ion-item>
  </ion-list>

</ion-content>
<app-pie id="footer"></app-pie>
